* {
  font-family: Helvetica Neue, arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    box-sizing: content-box;

}

header {
  background-color: #f2f8ff !important;
  margin: 0;
}

main .nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  position: relative;
  padding: 8px 16px;
  width: 100%;
  max-width: 96px;
  margin: 4px;
  transition: 0.3s ease-in-out;
  color: #385075;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
}

/* Style the tab */
.tab {
  display: flex;
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 14px 16px 15px 0;
  padding: 0 0 14px 0;
  color: #525769;
}

/* Change background color of buttons on hover */
.tab button:hover {
  margin: 14px 16px 15px 0;
  padding: 0 0 12px 0;
  color: #0f6fff;
  border-bottom: 2px solid #eee;
}

/* Create an active/current tablink class */
.tab button.active {
  color: #050c26;
  padding: 0 0 12px 0;
  border-bottom: 2px solid #385075;
}

/* Style the tab content */
.tabcontent {
  display: none;
}

.angel-color {
  color: #576f92;
}

.angel-active {
  background-color: #f2f8ff !important;
  color: #0f6fff !important;
}

.angel-border {
  border-color: #acbdd5;
}

.angel-green {
  color: #00cc96;
}

.company-logo {
  border-radius: 4px;
  height: 46px;
  aspect-ratio: auto 46 / 46;
  width: 46px;
}
.company h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}
.text-md {
  font-size: 16px;
  line-height: 24px;
}

.date-applied {
  font-size: 14px;
  line-height: 20px;
}

.application {
  width: 95% !important;
  margin: 15px 0;
}

.date {
  color: #7b91b1;
  font-size: 12px;
  line-height: 20px;
}

.total {
  font-size: 14px;
}

span#status {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: inline-block;
}

.pending { background-color: #f2a73d; }
.accepted { background-color: #009c5e; }
.not-accepted { background-color: #ee2531; }
.offsite { background-color: #7b91b1; }